* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'; }

html, body {
  width: 100%;
  background: #262626; }

p, input, i {
  font-size: .9vw;
  color: #808080; }

.topbar-box {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100% - 360px);
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000; }
  .topbar-box label {
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #808080; }

#search-input {
  width: calc(100% - 60px);
  height: 100%;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-weight: 300;
  color: #E6E6E6; }
  #search-input:focus {
    border-bottom: 2px solid #5fcdaa; }

.user-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #000;
  background: #262626;
  padding-left: 20px;
  z-index: 100; }
  .user-box img {
    width: 40px;
    height: 100%;
    margin-right: 20px; }

.user-name {
  width: calc(100% - 120px);
  color: #808080;
  font-size: .8vw; }

#user-btn {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #5fcdaa;
  border-left: 1px solid #000;
  cursor: pointer; }
  #user-btn:hover {
    background: #000; }

.active {
  background: #000 !important; }

.filtro-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid #000;
  background: #262626;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .filtro-box:hover {
    width: 300px; }
  .filtro-box input[type="checkbox"] {
    display: none; }

.logo-box {
  width: 100%;
  height: 59px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px; }
  .logo-box img {
    width: 40px; }

.categorias-box {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.dots {
  width: 20px;
  height: 20px;
  margin: 20px;
  border: 4px solid;
  border-radius: 50%; }

.deco-dot {
  border-color: #A5A17C; }

.is-deco {
  background: #A5A17C; }

.labores-dot {
  border-color: #ED8EBE; }

.is-labores {
  background: #ED8EBE; }

.otras-dot {
  border-color: #DD6666; }

.is-otras {
  background: #DD6666; }

.papel-dot {
  border-color: #A7D9E6; }

.is-papel {
  background: #A7D9E6; }

.peques-dot {
  border-color: #FCEC92; }

.is-peques {
  background: #FCEC92; }

.segunda-dot {
  border-color: #8AEA75; }

.is-segunda {
  background: #8AEA75; }

.filtro-btn {
  width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #808080; }
  .filtro-btn:hover {
    background: #000; }

.dificult-box {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .dificult-box input[type="range"] {
    width: 200px; }

.dificult-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 200px;
  height: 60px;
  color: #808080; }

.dificult-active {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #808080; }

.user-modal-box {
  position: fixed;
  top: -170px;
  right: 0;
  width: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #262626;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 99;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.opened {
  top: 60px; }

.signin-box {
  width: 100%;
  padding: 0 30px 20px 30px; }
  .signin-box input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #E6E6E6; }
    .signin-box input:focus {
      border-bottom: 2px solid #5fcdaa; }
  .signin-box p {
    font-size: 12px;
    color: #5fcdaa;
    text-decoration: underline;
    margin-top: 20px; }
    .signin-box p:hover {
      text-decoration: none;
      color: #808080; }

.ajustes-btn {
  background: #000;
  color: #808080;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 20px;
  cursor: pointer; }
  .ajustes-btn:hover {
    color: #E6E6E6;
    background: #5fcdaa; }

.signin-btn, .logout-btn, .create-btn {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: #808080;
  text-decoration: underline;
  cursor: pointer; }
  .signin-btn:hover, .logout-btn:hover, .create-btn:hover {
    text-decoration: none; }

.in-out {
  display: none !important; }

.green-btn {
  background: #5fcdaa;
  text-decoration: none;
  color: #E6E6E6;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  opacity: .95; }
  .green-btn:hover {
    opacity: 1; }
