$diy: #5fcdaa;
$bg: #F8F8F9;
$ht: #E6E6E6;
$lt: #808080;

$darkbar: #333;
$darkbg: #262626;

$segunda: #8AEA75;
$papel: #A7D9E6;
$labores: #ED8EBE;
$peques: #FCEC92;
$decoracion: #A5A17C;
$otras: #DD6666;

@mixin segundaGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#8AEA75,.7) 70%, rgba(#8AEA75,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#8AEA75,.7) 70%, rgba(#8AEA75,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#8AEA75,.7) 70%, rgba(#8AEA75,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#8AEA75,.7) 70%, rgba(#8AEA75,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8AEA75',GradientType=0 );
}
@mixin papelesGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A7D9E6,.7) 70%, rgba(#A7D9E6,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A7D9E6,.7) 70%, rgba(#A7D9E6,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A7D9E6,.7) 70%, rgba(#A7D9E6,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A7D9E6,.7) 70%, rgba(#A7D9E6,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A7D9E6',GradientType=0 );
}
@mixin laboresGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#ED8EBE,.7) 70%, rgba(#ED8EBE,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#ED8EBE,.7) 70%, rgba(#ED8EBE,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#ED8EBE,.7) 70%, rgba(#ED8EBE,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#ED8EBE,.7) 70%, rgba(#ED8EBE,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ED8EBE',GradientType=0 );
}
@mixin pequesGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#FCEC92,.7) 70%, rgba(#FCEC92,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#FCEC92,.7) 70%, rgba(#FCEC92,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#FCEC92,.7) 70%, rgba(#FCEC92,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#FCEC92,.7) 70%, rgba(#FCEC92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FCEC92',GradientType=0 );
}
@mixin decoracionGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A5A17C,.7) 70%, rgba(#A5A17C,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A5A17C,.7) 70%, rgba(#A5A17C,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A5A17C,.7) 70%, rgba(#A5A17C,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#A5A17C,.7) 70%, rgba(#A5A17C,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A5A17C',GradientType=0 );
}
@mixin otrasGradient {
  background: -webkit-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#DD6666,.7) 70%, rgba(#DD6666,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#DD6666,.7) 70%, rgba(#DD6666,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#DD6666,.7) 70%, rgba(#DD6666,1) 100%);
  background: linear-gradient(rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 50%, rgba(#DD6666,.7) 70%, rgba(#DD6666,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#DD6666',GradientType=0 );
}
@mixin sunsetGradient {
  background: -webkit-linear-gradient(rgba(255,193,112,0) 0%, rgba(255,193,112,1) 100%);
  background: -moz-linear-gradient(rgba(255,193,112,0) 0%, rgba(255,193,112,1) 100%);
  background: -o-linear-gradient(rgba(255,193,112,0) 0%, rgba(255,193,112,1) 100%);
  background: linear-gradient(rgba(255,193,112,0) 0%, rgba(255,193,112,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffc170', endColorstr='#ffc170',GradientType=0 );
}