@import '_assets';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

html, body {
  width: 100%;
  background: $darkbg;
}

p, input, i {
  font-size: .9vw;
  color: $lt;
}

//includes
@import '../includes/scss/_topbar';
@import '../includes/scss/_user';
@import '../includes/scss/_filtro';
@import '../includes/scss/_user-modal';

//views
@import '_tarjetas';