.filtro-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  max-width: 300px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
  background: $darkbg;
  transition: .5s;
  &:hover {
    width: 300px;
  }
  input[type="checkbox"] {
    display: none;
  }
}

.logo-box {
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  img {
    width: 40px;
  }
}

.categorias-box {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.dots {
  width: 20px;
  height: 20px;
  margin: 20px;
  border: 4px solid;
  border-radius: 50%;
}

.deco-dot {
  border-color: $decoracion;
}
.is-deco {
  background: $decoracion;
}

.labores-dot {
  border-color: $labores;
}
.is-labores {
  background: $labores;
}

.otras-dot {
  border-color: $otras;
}
.is-otras {
  background: $otras;
}

.papel-dot {
  border-color: $papel;
}
.is-papel {
  background: $papel;
}

.peques-dot {
  border-color: $peques;
}
.is-peques {
  background: $peques;
}

.segunda-dot {
  border-color: $segunda;
}
.is-segunda {
  background: $segunda;
}

.filtro-btn {
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
  color: $lt;
  &:hover {
    background: #000;
  }
}

.dificult-box {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  input[type="range"] {
    width: 200px;
  }
}

.dificult-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 60px;
  color: $lt;
}

.dificult-active {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $lt;
}