.topbar-box {
  position: fixed;
  top: 0;
  left: 60px;
  width: calc(100% - 360px);
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  label {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lt;
  }
}

#search-input {
  width: calc(100% - 60px);
  height: 100%;
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  font-weight: 300;
  color: $ht;
  &:focus {
    border-bottom: 2px solid $diy;
  }
}