.user-box {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #000;
  background: $darkbg;
  padding-left: 20px;
  z-index: 100;
  img {
    width: 40px;
    height: 100%;
    margin-right: 20px;
  }
}

.user-name {
  width: calc(100% - 120px);
  color: $lt;
  font-size: .8vw;
}

#user-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $diy;
  border-left: 1px solid #000;
  cursor: pointer;
  &:hover {
    background: #000;
  }
}

.active {
  background: #000 !important;
}