.user-modal-box {
  position: fixed;
  top: -170px;
  right: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $darkbg;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 99;
  transition: .5s;
}

.opened {
  top: 60px;
}

.signin-box {
  width: 100%;
  padding: 0 30px 20px 30px;
  input{
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    box-shadow: none;
    font-size: 14px;
    color: $ht;
    &:focus {
      border-bottom: 2px solid $diy;
    }
  }
  p {
    font-size: 12px;
    color: $diy;
    text-decoration: underline;
    margin-top: 20px;
    &:hover {
      text-decoration: none;
      color: $lt;
    }
  }
}

.ajustes-btn {
  background: #000;
  color: $lt;
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 12px;
  margin-top: 20px;
  cursor: pointer;
  &:hover {
    color: $ht;
    background: $diy;
  }
}

.signin-btn, .logout-btn, .create-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  color: $lt;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.in-out {
  display: none !important;
}

.green-btn {
  background: $diy;
  text-decoration: none;
  color: $ht;
  transition: .1s;
  opacity: .95;
  &:hover {
    opacity: 1;
  }
}
