<div class="filtro-box">

  <div class="logo-box">
    <img src="../assets/img/imago-diyclub.svg" alt="DIYCLUB">
  </div>

  <div class="categorias-box">
    <input id="decoBtn" type="checkbox" ng-model="isDeco">
    <label for="decoBtn" class="filtro-btn">
      <div class="deco-dot dots" ng-class="{'is-deco': isDeco}"></div>
      <p>Decoración</p>
    </label>
    <input id="laboresBtn" type="checkbox" ng-model="isLabores">
    <label for="laboresBtn" class="filtro-btn">
      <div class="labores-dot dots" ng-class="{'is-labores': isLabores}"></div>
      <p>Labores</p>
    </label>
    <input id="otrasBtn" type="checkbox" ng-model="isOtras">
    <label for="otrasBtn" class="filtro-btn">
      <div class="otras-dot dots" ng-class="{'is-otras': isOtras}"></div>
      <p>Otras Ideas</p>
    </label>
    <input id="papelBtn" type="checkbox" ng-model="isPapel">
    <label for="papelBtn" class="filtro-btn">
      <div class="papel-dot dots" ng-class="{'is-papel': isPapel}"></div>
      <p>Papeles</p>
    </label>
    <input id="pequesBtn" type="checkbox" ng-model="isPeques">
    <label for="pequesBtn" class="filtro-btn">
      <div class="peques-dot dots" ng-class="{'is-peques': isPeques}"></div>
      <p>Peques</p>
    </label>
    <input id="segundaBtn" type="checkbox" ng-model="isSegunda">
    <label for="segundaBtn" class="filtro-btn">
      <div class="segunda-dot dots" ng-class="{'is-segunda': isSegunda}"></div>
      <p>Segunda vida</p>
    </label>
  </div>

  <div class="dificult-box">
    <div class="dificult-btn">
      <div id="facilBtn">Fácil</div>
      <div id="medioBtn">Medio</div>
      <div id="dificilBtn">Difícil</div>
    </div>
    <input type="range" min="0" max="2" value="0" ng-model="dificultShow" disabled>
  </div>
  <div class="dificult-active" ng-if="dificultShow != dificultShow.lenght">{{dificultShow}}</div>
</div>