<div class="topbar-box">
  <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i></label>
  <input id="search-input" type="text" placeholder="Busca tutoriales, articulos, masters...">
</div>