<div class="user-box">
  <img src="../assets/img/user.svg" alt="diy-user" class="user-img">
  <p class="user-name">Eva Martín</p>
  <div id="user-btn" ng-click="openModal()">
    <i class="fa fa-user" aria-hidden="true"></i>
  </div>
</div>

<div class="user-modal-box">
  <div class="signin-box">
    <input type="text" id="emailTxt" placeholder="E-mail" ng-model="email">
    <input type="password" id="passTxt" placeholder="Password" ng-model="pass">
    <p ng-click="inOut()" class="inout-btn">¿No eres diyer?</p>
    <p ng-click="inOut()" class="inout-btn in-out">¿Ya eres diyer?</p>
  </div>
  <div class="ajustes-btn"><i class="fa fa-cog" aria-hidden="true"></i> Configuración</div>
  <div id="signinBtn" class="signin-btn green-btn" ng-click="signIn()">Entrar</div>
  <div id="createBtn" class="create-btn green-btn in-out" ng-click="createUser()">Crear</div>
  <div id="logoutBtn" class="logout-btn" ng-click="auth.$signOut()">Cerrar sesión</div>
</div>